.card {

width: 200px;
height: 270px;
border: 2px solid black;
display: inline-block;
margin: 10px;
vertical-align: top;
border-radius: 10px;
box-shadow: 5px 5px 10px black;
transition: 1s;
}
.desc{
    padding: 0 5px 0 5px;
}
img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 70%;
}

.card:hover{
    box-shadow: 10px 10px 20px black;
}